PORT=5003
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/notification_db
IDENTITY_SERVICE_URL=http://localhost:5000
BOOKING_SERVICE_URL=http://localhost:5002
SUPPORT_SERVICE_URL=http://localhost:5004
CORS_ORIGIN=http://localhost:3000,http://localhost:3001,http://localhost:3003
